{:deps  {com.taoensso/timbre         {:mvn/version "4.10.0"}
         commons-codec/commons-codec {:mvn/version "1.12"}
         io.replikativ/hasch         {:mvn/version "0.3.6"}
         org.clojure/clojure         {:mvn/version "1.10.0"}
         org.clojure/core.async      {:mvn/version "0.4.490"}
         riddley                     {:mvn/version "0.2.0"}}
 :paths ["src"]}
